<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.apps.translate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <queries>
        <package android:name="dev.davidv.translator" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Google Translate Overlay"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:theme="@android:style/Theme.NoDisplay">

        <!-- Główna aktywność – wspólna -->
        <activity
            android:name=".TranslateActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
